body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(3, 3, 3);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    width: calc(100vw - 10px);
}

.logo-section {
    flex: 1;
}

.homeicon {
    border: 1px solid gray;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 7px 7px;
}

.center-section {
    flex: 2;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.searchbar {
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

.profile-section {
    flex: 1;
    justify-content: flex-end;
}

.containermain {
    margin: 40px 10px;
    height: 70vh;
}

.leftbox {
    width: 20vw;
}

.centrebox {
    width: 60vw;
}

.rightbox {
    width: 20vw;
}