.container {
    width: 80vw;
    height: 80vh;
    background-color: aqua;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;

    animation: kartikY 1s ease-out infinite alternate, kartikX 10s linear infinite;

}
/* we dont use 2 transformations in one animation because it will not work properly X will override Y glitch hojayega. So we use 2 animations for 2 transformations. */
@keyframes kartikX {
    from {
        left: 0;
    }

    to {

        left: 60%;
    }
}

@keyframes kartikY {
    from {
        bottom: 0;
    }

    to {

        bottom: 60%;
    }
}